<% layout("/layouts/boilerplate")%>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(listing) %>;
</script>


<!-- Header -->
<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= listing.title %></h1>
      </div>
    </div>
  </div>
</div>

<!-- Listing  -->
<div class="listing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="<%= listing.image.url%>"
          height="300px"
          class="img-fluid"
          alt="listing_image"
        />
      </div>
      <div class="col-md-6">
        <h4>Description</h4>
        <p><%= listing.description %></p>
        <h4>Location</h4>
        <p><%= listing.location %></p>
        <h4>Country</h4>
        <p><%= listing.country %></p>
      </div>
    </div>
  </div>
</div>
<br>

<!-- Edit Delete -->
<% if(currUser && listing.owner._id.equals(currUser._id)){ %>
<div class="edit-delete-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form
          action="/listings/edit/<%=listing._id%>"
          method="get"
        >
          <button class="btn btn-primary">Edit</button>
        </form>
      </div>
      <div class="col-md-6">
        <form
          action="/listing/delete/<%=listing._id %>?_method=Delete"
          method="post"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>

<div class="col-3 mb-3">
  <h3>Location:<%=listing.location %></h3>
  <div id="map" style="height: 300px; width: 100%;"></div>

</div>
<!-- Review -->
<% if(currUser){ %>
<div class="review-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="POST" validate>
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea
              name="review[comment]"
              id="comment"
              cols="10"
              rows="5"
              class="form-control"
              required
            ></textarea>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- Reviews -->
<div class="reviews-section">
  <div class="container">
    <div class="row">
      <% if(listing.reviews.length>0) {%>
      <div class="col-md-4 ">
        <h4>Reviews</h4>
        <% for(review of listing.reviews) { %>
        <div class="review-card mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">@<%= review.author.username%></h5>
            </div>
            <div class="card-body">
              <p
                class="starability-result card-text"
                data-rating="<%= review.rating %>"
              ></p>
              <p class="card-text"><%= review.comment %></p>
              <% if(currUser && review.author.equals(currUser._id)) { %>
              <div>
                <form
                  action="/review/<%= review._id  %>/<%= listing._id %>?_method=DELETE"
                  method="POST"
                >
              
                 <button class="btn btn-sm btn-dark mb-2">Delete</button>
                </form>
                
                <form
                  action="/review/<%= review._id %>/edit/<%= listing._id %>"
                  method="get"
                >
            
                 <button class="btn btn-sm btn-dark">Edit</button>
                </form>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <% } %> 


     
    



    </div>
  </div>
</div>
<script src="/map.js"></script>
</body>